* {
    margin: 0;
    padding: 0;
    
}


.descriçao{
    width: 45%;
    padding: 30px 400px;
    display: inline-block;vertical-align: top;
    background-color: rgb(220, 243, 235);
    text-align: left;
    font-style: italic;
}


.emprestimo{
    width: 45%;
    padding: 30px 400px;
    display: inline-block;vertical-align: top;
    background-color: rgb(146, 231, 201);
    text-align: center;
}

.dinheiro{
    width: 45%;
    padding: 30px 400px;
    display: inline-block;vertical-align: top;
    background-color: rgb(220, 243, 235);
text-align: center;
font-style: oblique;
}