* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 5%;
    padding: 0px 50px;

}

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    padding: 15px;
    align-self: center;
}

a {
    color: white;
    font-size: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.hover:hover {
    color: darkred;
    transition: color .10s ease;
}

.principal {
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    background-color: rgba(128, 128, 128, 0.333);
}

.content {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    color: grey;
    font-size: 3em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 2%;
    background-color: rgb(203,197,247,255);
}

button{
    height: 50px;
    width: 100px;
    background-color: rgba(255, 187, 0, 0.842);
    border-radius: 50%;
}


.botoes {
    position: sticky;
    top: 20px;
    background-color: white;
}


body{
    background-color: rgb(203,197,247,255);
}




